.myPurple1{
    background-color: #ffe2e4 !important;
}

.myPurple2{
    background-color: #ecb0cc !important;
}

.myPurple3{
    background-color: #c47094 !important;
}

.myPurple4{
    background-color: #632e4c !important;
}

.myGreen1{
    background-color: #5e6724 !important;
}

.myTeal{
    background-color: #ddc482 !important;
}

body{
    background-color: #ddc482;
}


#heroImage {
    background-color: #ddc482;
    max-width: 100%; 
    height:550px;
    background-repeat:no-repeat; 
    background-size:cover; 
    background-position:center;
}



/* overWriting the framework*/
.page-footer{
    padding-top: 0px !important;
}

#navbarCenter {
    position:relative;
    left:50px;
}


/* overWriting the Fotorama plugin */
.fotorama__caption {

    opacity: 0.8;

}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;

    margin-right:11px;
    padding:0;
}

.circleBorder{
    

    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;


    left: 10px;

    position: absolute;
    top: 20px;

}

.clockBorder{
        padding: 13px 12px;
}

.carBorder {
            padding: 13px 10px;
}

.manBorder {
            padding: 13px 15px;
}


figcaption {
    background-color: grey;
    color: white;
    opacity: 0.7;
    padding: 15px;

}