.myPurple1{
    background-color: #ffe2e4 !important;
}

.myPurple2{
    background-color: #ecb0cc !important;
}

.myPurple3{
    background-color: #c47094 !important;
}

.myPurple4{
    background-color: #632e4c !important;
}

.myGreen1{
    background-color: #5e6724 !important;
}

.myTeal{
    background-color: #ddc482 !important;
}

body{
    background-color: #ddc482;
}

.highlight {
    #c47094 !important
}


#heroImage {
    background-color: #ddc482;
    max-width: 100%; 
    height:550px;
    background-repeat:no-repeat; 
    background-size:cover; 
    background-position:center;
}



/* overWriting the framework*/

.underlined {
    text-decoration:underline;
}

td, th {
    padding: 2px 5px;
}

.collapsible-body p {
    padding: 1rem;
}

.page-footer{
    padding-top: 0px !important;
}

#navbarCenter {
    position:relative;
    left:50px;
}

.container {
    width: 80%;
}

.infoWindowViewDetails {
    padding-top: 0;
}

.infoWindowViewDetails span{
    border-bottom: 1px solid #aaa;
    text-decoration: none;
}

    .infoWindowViewDetails span:hover {
        border-bottom: 1px solid #666;
        cursor:pointer;
    }



/* overWriting the Fotorama plugin */
.fotorama_caption {

    opacity: 0.8;

}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;

    margin-right:11px;
    padding:0;
}

#detailsMap {
    width: 100%;
    height: 400px;
    background-color: grey;

    margin-right:11px;
    padding:0;
}

.circleBorder{
    

    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;


    left: 10px;

    position: absolute;
    top: 20px;

}

.clockBorder{
        padding: 13px 12px;
}

.carBorder {
            padding: 13px 10px;
}

.manBorder {
            padding: 13px 15px;
}


figcaption {
    background-color: grey;
    color: white;
    opacity: 0.7;
    padding: 15px;

}

#searchBarWrapper {
    margin-top:0px;
    box-shadow:none;
    border-radius:unset;
    padding-right: 37px;
}

.easy-autocomplete {
    width:100% !important;
}

#filterWrapper {
    margin-bottom:0px;
    background-color:white;
    box-shadow:none;
    text-align:left;

}

#mainFilterDropdownWrapper{
    display: flex; 
    justify-content: space-around;
}

.filterDropdownWrapper {

    text-align:center;
}

.filterDropdown {
    display:block;
    height: initial;
    padding: unset;
    border: none;

   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: transparent;

   width: 120px;

    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-08-128.png) 98% / 15% no-repeat white;
   
}


.mapInfoWindowImage {
    max-width:370px;
    max-height:200px;

    left: 15%;
    position: relative;
    
}

.card-action a {
    float:right;
}



#searchResultsMainWrapper{
    display:none;
}

#selectedFeatureImage{
    max-width:100%;
    max-height: 530px;
}

.infoboxItemWrapper p {
    padding-left: 20px;
}

.backButton{
    margin:0;
    display:inline;
}


.linkImitator{
    border-bottom: 1px solid #aaa;
    text-decoration: none;
}

    .linkImitator:hover {
        border-bottom: 1px solid #666;
        cursor:pointer;
    }


#searchBar {
    margin-bottom: 10px;
    margin-top: 10px;
}

.easy-autocomplete-container {
    left: 12px;
}